<p>Hello,</p>
<p>Your account has been created successfully. Here are your login credentials:</p>
<p>Email: <%= email %></p>
<p>Password: <%= password %></p>
<p>Please click the link below to verify your email and login:</p>
<a href="<%= loginUrl %>">Login to Your Account</a>
<p>After logging in, we recommend changing your password for security.</p>
<p>This link will expire in 24 hours.</p>